<div class="Navbar">

    <div class="Navbar__Menu-Button"
         (click)="toggle()"
         tabindex="0"
         aria-label="Menu">
        &#9776;
    </div>

    <nav class="Navbar__Menu-Item-List"
         [ngClass]="{ 'toggleOff': !isExpand }">
        <div class="Navbar__Menu-Item">
            <a routerLink="/">
                Home
            </a>
        </div>
        <div class="Navbar__Menu-Item">
            <span class="reset" (click)="reset.emit(); toggle(true);">
                Reset
            </span>
        </div>
        <div class="Navbar__Menu-Item">
            <!-- TODO: move URL to env -->
            <a href="https://www.npmjs.com/package/jacks-angular4-cli" target="_blank"
               (click)="toggle(true)">
                View Dev/Build tool
            </a>
        </div>
        <div class="Navbar__Menu-Item">
            <!-- TODO: move URL to env -->
            <a href="https://bitbucket.org/kdha200501/jacks-angular4-demo/src" target="_blank"
               (click)="toggle(true)">
                View Demo Source
            </a>
        </div>
    </nav>

</div>
