<div class="HomePage">
    <h1>
        Jacks' Angular4 Demo
    </h1>

    <div class="HomePage__Section">
        <h2>
            Summary
        </h2>

        <p>
            To see lazy-loading in action
        </p>
        <ul>
            <li>
                serve a prod build
            </li>
            <li>
                open up the developer's console and go to the network tab before clicking the following link
            </li>
        </ul>
    </div>

    <div class="HomePage__Section">
        <a routerLink="/article">
            see the app
        </a>
    </div>

</div>
