@import "../../mixins";

.Navbar {
  @include flexbox;
  flex-direction: column;

  background-color: #46ACC2;
  padding: 16px;
  font-family: sans-serif;
  color: white;

  a {
    text-decoration: none;

    &:link, &:visited, &:hover, &:focus, &:active {
      color: white;
    }
  }

  &__Menu-Button {
    cursor: pointer;
  }

  &__Menu-Item-List {
    @include flexbox;
    flex-direction: column;

    padding-top: 20px;
    padding-left: 10px;
  }

  &__Menu-Item {
    padding: 10px;
    margin-bottom: 10px;
  }

  .toggleOff {
    display: none
  }

  .reset {
    cursor: pointer;
  }
}

// Design differences between screen sizes

@mixin mobileDesign {
}

@mixin desktopDesign {
  .Navbar {
    @include flex-row;
    justify-content: center;

    width: 800px;
    margin: 0 auto;

    &__Menu-Button {
      display: none;
    }

    &__Menu-Item-List {
      @include flex-row;
      justify-content: space-between;
      flex-basis: 50%;
    }

    &__Menu-Item {
      box-sizing: border-box;
      padding: 10px;
      flex: none;
      text-align: center;
    }

    .toggleOff {
      @include flexbox;
    }
  }
}

// Mapping screen sizes to designs

@include smallScreenSize {
  @include mobileDesign;
}

@include mediumScreenSize {
  @include mobileDesign;
}

@include largeScreenSize {
  @include desktopDesign;
}

@include extraLargeScreenSize {
  @include desktopDesign;
}

@include extraExtraLargeScreenSize {
  @include desktopDesign;
}
