@import "../../mixins";

@include resetBrowserDefaults

.ArticlePage {
  @include flexbox;
  flex-direction: column;

  font-family: sans-serif;
  color: black;
}

.CardGroup {
  @include flexbox;
  flex-direction: column;
}

.Card {
  display:flex;
  flex-direction: column;

  font-weight: bold;
  border-style: solid;
  border-color: #F2F2F2;
  border-width: 2px;
  border-radius: 3px;
  margin: 20px;

  span {
    margin: 10px;
  }

  &__Title {
    background-color: #E0F1F9;
    padding: 10px;

    span {
      margin-left: 10px;
    }
  }
  &__Body {

  }
}

.Entry {
  @include flexbox;
  flex-direction: column;
  padding: 20px;

  &__Label {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &__Input {
    @include inputContainer;
    height: 32px;

    input {
      box-sizing: border-box;
      width: 100%;
      font-size: large;
      border: none;
      height: 100%;
    }
  }

  &__Submit {
    margin: 40px 0px 30px 0px;

    span {
      padding: 10px 30px;
      margin: 0px 0px;
      font-weight: normal;
      cursor: pointer;
      background-color: #F2F2F2;
      border-style: solid;
      border-color: #F2F2F2;
      border-width: 2px;
      border-radius: 3px;
    }
  }
}

.ArticleGroup {
  @include flexbox;
  flex-direction: column;
}

.Article {
  @include flexbox;
  flex-direction: column;

  border-style: solid;
  border-color: #F2F2F2;
  border-width: 2px;
  border-radius: 3px;
  box-shadow: 1px 2px 2px 1px #E5E7E8;
  margin: 20px;

  &__Title {
    @include flex-row;
    align-items: center;

    background-color: #F2F2F2;
    padding: 10px;
    text-transform: capitalize;

    &__Name {
      margin-left: 10px;
      span {
        font-weight: bold;
      }
    }
    &__Tags {
      margin-left: 10px;
    }
    &__Category {
      margin-left: auto;
      width: 120px;
      span {
        display: block;
        padding: 5px 3px;
        color: white;
        border-radius: 3px;
        text-align: center;
        font-weight: lighter;
      }

      &__1 {
        background-color: #F79C40;
      }
      &__2 {
        background-color: #2A90B3;
      }
      &__3 {
        background-color: #299555;
      }
    }
  }
  &__Body {
    p {
      margin: 20px 20px 30px 20px;
    }
  }
}


// Design differences between screen sizes

@mixin mobileDesign {
}

@mixin desktopDesign {
  .ArticlePage {
    @include flex-row;
    width: 800px;
    margin: 0 auto;
  }
  .ArticleGroup {
    flex-basis: 60%;
    order: 1;
  }
  .CardGroup {
    flex-basis: 40%;
    order: 2;
  }
}

// Mapping screen sizes to designs

@include smallScreenSize {
  @include mobileDesign;
}

@include mediumScreenSize {
  @include mobileDesign;
}

@include largeScreenSize {
  @include desktopDesign;
}

@include extraLargeScreenSize {
  @include desktopDesign;
}

@include extraExtraLargeScreenSize {
  @include desktopDesign;
}
