@import "../../mixins";

.InputContainer {
    @include inputContainer;
    height: 32px;

    &__Error {
        border-color: red;
    }
}

.inputError {
    @include inputError;
}

input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: large;
    border: none;
}
