@import "../../mixins";

.InputContainer {
  @include inputContainer;
  height: 32px;

  &__Error {
    border-color: red;
  }
}

.inputError {
  @include inputError;
}

select {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: large;
  -moz-appearance: window;
  -webkit-appearance: none;
  border: 0;
  background: url($downArrowIconGrey) no-repeat right 12px top 50%;
  text-transform: capitalize;
}
