@import "../../mixins";

.InputContainer {
  @include inputContainer;
  height: 64px;

  &__Error {
    border-color: red;
  }
}

.inputError {
  @include inputError;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: large;
  border: none;
  resize: none;
  font-size: large;
}
