<div class="InputContainer" [ngClass]="{InputContainer__Error: hasError}">
    <input id="{{ id }}" type="text" [(ngModel)]="model">
</div>
<span class="inputError" *ngIf="hasError">
    required
</span>
