<div class="InputContainer" [ngClass]="{InputContainer__Error: hasError}">
    <select name="{{ id }}" id="{{ id }}" [(ngModel)]="model">
        <ng-content></ng-content>
    </select>
</div>
<span class="inputError" *ngIf="hasError">
    required
</span>
