<div class="InputContainer" [ngClass]="{InputContainer__Error: hasError}">
    <textarea id="{{ id }}" type="text" [(ngModel)]="model"></textarea>
</div>
<span class="inputError" *ngIf="hasError">
    required
</span>
