@import "../../mixins";

@include resetBrowserDefaults

.HomePage {
  font-family: sans-serif;
  padding: 10px;

  &__Section {
    margin-top: 20px;
    margin-bottom: 40px;

    h2 {
      color: #838383;
      font-weight: normal;
      margin-bottom: 10px;
    }

    ul {
      margin: 12px 0 0 40px;
    }
  }
}
