<menu (reset)="resetArticles()"></menu>

<div class="ArticlePage">

    <div class="CardGroup">

        <!-- Filter Articles -->
        <div class="Card">
            <div class="Card__Title">
                <span>
                    Filter Articles
                </span>
            </div>
            <div class="Card__Body Entry">

                <div class="Entry__Label">
                    <label for="filter-by-name">
                        Filter by name
                    </label>
                </div>
                <div class="Entry__Input">
                    <input id="filter-by-name" type="text" [(ngModel)]="nameFilter">
                </div>

                <div class="Entry__Label">
                    <label for="filter-by-tags">
                        Filter by tags
                    </label>
                </div>
                <div class="Entry__Input">
                    <input id="filter-by-tags" type="text" [(ngModel)]="tagFilter">
                </div>

            </div>
        </div>

        <!-- Add an Article -->
        <div class="Card">
            <div class="Card__Title">
                <span>
                    Add an Article
                </span>
            </div>
            <div class="Card__Body Entry">

                <div class="Entry__Label">
                    <label for="add-article-name">
                        Name
                    </label>
                </div>
                <div input-with-validation [id]="'add-article-name'" [(model)]="tmpArticle.name" [observableSubject]="subjectSubmit" (validate)="validateTmpArticle($event)">
                </div>

                <div class="Entry__Label">
                    <label for="add-article-description">
                        Description
                    </label>
                </div>
                <div textarea-with-validation [id]="'add-article-description'" [(model)]="tmpArticle.description" [observableSubject]="subjectSubmit" (validate)="validateTmpArticle($event)">
                </div>

                <div class="Entry__Label">
                    <label for="add-article-tags">
                        Tags
                    </label>
                </div>
                <div input-with-validation [id]="'add-article-tags'" [(model)]="tmpArticle.tags" [observableSubject]="subjectSubmit" (validate)="validateTmpArticle($event)">
                </div>

                <div class="Entry__Label">
                    <label for="add-article-category">
                        Category
                    </label>
                </div>
                <div select-with-validation [id]="'add-article-category'" [(model)]="tmpArticle.category" [observableSubject]="subjectSubmit" (validate)="validateTmpArticle($event)">
                    <option *ngFor="let category of categoryList" value="{{ category }}">{{ categoryEnum[category] }}</option>
                </div>

                <div class="Entry__Submit" (click)="submit()">
                    <span tabindex="0">
                        Submit
                    </span>
                </div>

            </div>
        </div>

    </div>

    <div class="ArticleGroup">

        <!-- Article list -->
        <div class="Article" *ngFor="let article of (articleList | filterByArticleName: nameFilter | filterByArticleTags: tagFilter | orderArticleByWeight)">

            <div class="Article__Title">
                <div class="Article__Title__Name">
                    <span>
                        {{ article.name }}
                    </span>
                </div>
                <div class="Article__Title__Tags">
                    <span>
                        {{ article.tags }}
                    </span>
                </div>
                <div class="Article__Title__Category">
                    <span [ngClass]="{
                         'Article__Title__Category__1': article.category === 'JACKALOPE',
                         'Article__Title__Category__2': article.category === 'LOCHNESS',
                         'Article__Title__Category__3': article.category === 'BIGFOOT'
                      }">
                        {{ categoryEnum[article.category] }}
                    </span>
                </div>
            </div>

            <div class="Article__Body">
                <p>
                    {{ article.description }}
                </p>
            </div>

        </div>

    </div>

</div>
